.cell_figure {
  margin: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: grab;
}

.cell_figure-pawn {
}

.cell_figure-rook {

}

.cell_figure-knight {
}

.cell_figure-bishop {
}

.cell_figure-king {
}

.cell_figure-queen {
}