.row_cell {
  display: flex;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
}

.cell_figure {
  margin: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
}